<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect Button</title>
    <style>
        
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f0f0;
        }
 
        button {
            padding: 15px 30px;
            font-size: 18px;
            color: white;
            background-color: #007BFF;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>

    <button ><a href="/generate">Get Path</a></button>

    <!-- <script>
        function redirect() {
            window.location.href = "http://localhost:9000/generate/"; // Replace with the desired URL
        }
    </script> -->

</body>
</html>
